[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinx = "*"
pytest-cov = "*"
codecov = "*"
sphinx-rtd-theme = "*"
pylint = "*"
sphinx-autoapi = "*"
black = "*"

[packages]
mongoengine = "*"
loguru = "*"
flask = "*"
flask-restplus = "*"
fastjsonschema = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
